{{> nav}}

<h1>Thank you, <span class="thanks-name">{{fullName}}</span>!</h1>

<p>Your <span class="thanks-team">{{team}}</span> application is being
processed. If you are approved, you will receive an email at
&lt;<span class="thanks-email">{{email}}</span>&gt;
with further instructions.</p>

{{> scripts}}
