.title {
  margin-top: 20px;
}

.signin {
  width: 112px;
  margin: 0 auto;
}

.required {
  position: relative;
  top: -1px;
  color: red;
  font-size: 80%;
  margin: 1px;
}

.example {
  margin-top: 30px;
  border-top: 2px #ddd solid;
}

.example > p {
  margin-top: 10px;
}

.sample-screenshot {
  width: 340px;
  height: 628px;
  background-image: url(/images/submit.jpg);
  background-size: 340px 628px;
  background-repeat: no-repeat;
}

input:not([type=submit]):not([type=file]), textarea {
  width: 200px;
}
